@import 'src/variables.scss';

.backgroundWrapper {
  height: 280px;
  > div {
      margin-top: 36px;
      height: 280px;
      width: 100vw;
      background-image: url('/assets/images/banner.webp');
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
      @media (min-width: $medium-weight) {
        width: 100vw + 30 !important;
        margin-top: 50px !important;
        height: 225px !important;
      }
  }
}

.parallaxDiv {
  height: 280px;
  margin-top: 36px;
  @media (min-width: $medium-weight) {
    height: 225px;
    margin-top: 50px !important
  }
}
.link {
  font-weight: 500;
  text-decoration: none;
}

.contribFontWeight {
  font-weight: 800;
}

.text {
  font-weight: 500;
  color: $dark-gray-color;
  align-items: center;
  text-align: center;
  max-width: 680px !important;
}

@media (max-width: 375px) {
  .text {
    font-size: 16px;
    line-height: 32px;
    margin: auto;
    letter-spacing: 0.025em;
  }
}

@media (min-width: 376px) {
  .text {
    font-size: 16px;
    line-height: 32px;
    margin: auto;
    letter-spacing: 0.025em;
  }
}

@media (min-width: $small-weight) {
  .text {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.025em;
  }
}

@media (min-width: $medium-weight) {
  .text {
    font-size: 16px;
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 0.025em;
    max-width: 480px !important;
  }
}

@media (min-width: $large-weight) {
  .text {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.025em;
  }
}
