@import 'src/variables.scss';

.root {
  background-color: $barely-gray-color;
  border-top: 1px solid $light-gray-color;
}

.title {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.075rem;
  font-weight: 700;
  color: $dark-gray-color;
}

.subtitle {
  font-weight: 500 !important;    
  letter-spacing: 0.025em;
  font-size: 18px;
  .italicSubtitle {
    font-style: italic;
    font-weight: 400 !important;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
}

.label {
  letter-spacing: 0.03em;
  font-weight: 500 !important;
  line-height: 26px !important;
  font-size: 16px !important;
}

@media (min-width: $medium-weight) {
  .label {
    font-size: 14px !important
  }
}