@import 'src/variables.scss';

.root {
  background-color: $barely-gray-color;
}

.title {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.025em;
  font-weight: 500;
  @media (max-width: 425px) {
    max-width: 260px;
  }
  .subtitle {
    font-weight: 600;
  }
}

.label {
  letter-spacing: 0.03em;
  font-weight: 500 !important;
  line-height: 26px !important;
  font-size: 16px !important;
}

@media (min-width: $medium-weight) {
  .label {
    font-size: 14px !important
  }
}