@import 'src/variables.scss';

.root {
  background-color: $whitesmoke-color;
  border-top: 1px solid $light-gray-color;
}

.title {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: .15rem;
  font-weight: 700;
  color: $dark-sage-color;
}

.label {
  letter-spacing: 0.03em;
  font-weight: 500 !important;
  line-height: 26px !important;
  font-size: 16px !important;
}

@media (min-width: $medium-weight) {
  .label {
    font-size: 14px !important
  }
}