@import 'src/variables.scss';

.select {
  width: 50%;
}
.datePicker {
  min-width: 200px;
}

.doughnutLabelsReferrers,
.doughnutLabelsCountries {
  display: block;
  min-height: 60px;
  padding: 0;
  margin-bottom: 10px !important;
  & li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 10px;
    & div {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10px;
    }
  }
}

.doughnutLabelsReferrers {
  margin-bottom: 0;
  & li {
    width: 60%;
    & div {
      min-width: 180px !important;
      max-width: 200px !important;
    }
  }
}
.doughnutLabelsCountries {
  & li {
    width: 30%;
    & div {
      min-width: 75px !important;
    }
  }
}
.link {
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
}
.active {
  text-decoration: underline;
  color: $dark-sage-color !important;
}
.normal {
  text-decoration: none;
  color: $gray-color !important;
}
.datePickerWrapper {
  padding: 0 5px 0 0 !important;
}
@media (max-width: $medium-weight) {
  .select {
    width: 100% !important;
  }
}
@media (max-width: $small-weight) {
  .select {
    width: 100% !important;
  }
  .doughnutLabelsReferrers,
  .doughnutLabelsCountries {
    min-width: 0px;
    min-height: 0px;
    & li {
      padding-right: 0;
    }
  }
  .datePickerWrapper {
    padding: 0 !important;
  }
  .doughnutLabelsReferrers {
    & li {
      width: 80%;
    }
  }
}
