@import 'src/variables.scss';

h2 {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

.form {
  input {
    text-align: center;
    font-weight: 600;
    letter-spacing: .075rem;
  }
}

.button {
  width: 100%;
}
