@import 'src/variables.scss';

.input {
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid $light-sage-color;
  will-change: opacity, transform;
  border-radius: 8px;
  cursor: text;
}

.cardInputWrapper {
  margin: 0 auto;

  @media (max-width: $small-weight) {
    max-width: 100%;
  }
}

.actionBtn {
  height: 50px !important;
  width: 100%;
}

.cancelBtn {
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
}

.newCardCancelBtn {
  position: absolute !important;
  right: 0;
}
