@import 'src/variables.scss';

.btn.charities-search-cancel-btn {
  &,
  &:focus {
    border: 1px solid $sage-color !important;
    color: $sage-color;
    text-decoration: none;
    font-weight: normal;
  }
}

.charities-search-input:focus {
  &:has(+ .input-group-append) {
    border-right-width: 1px !important;
  }

  & + .input-group-append > .btn {
    border-width: 2px !important;
    border-left-width: 1px !important;
  }
}
.charities-search-container.active {
  .charities-search-input,
  .charities-search-cancel-btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .charities-search-result {
    background-color: $white-color;
    border: 2px solid $sage-color;
    border-top: none;
    border-bottom: none;
    max-height: 325px;
    overflow: auto;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 30px);

    .charities-search-result-item {
      background-color: $white-color;
      color: $dark-gray-color;
      height: 50px;
      list-style-type: none;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $sage-color;

      span {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 10px;
      }

      button {
        background-color: $sage-color;
        border-radius: 6px;
        height: 34px;
        width: 34px;
        float: right;

        &:after {
          padding-top: 3px;
          content: '+';
          color: $white-color;
          display: inline-block;
          transform: none;
          font-size: 20px;
          font-weight: 100;
        }
      }

      &.selected {
        background-color: $sage-color;
        color: $white-color;

        button {
          background-color: $light-sage-color;

          &:after {
            content: 'L';
            transform: scaleX(-1) rotate(320deg);
            font-size: 15px;
            padding-top: 0;
          }
        }
      }
    }
  }
}
