@import 'src/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
}

.registerShippingTd {
  padding: 0;
}

.link {
  width: 100%;
  display: block;
  padding: 0 5px;
  font-weight: bold;

  &:hover {
    color: $dark-gray-color;
  }
}
