@import 'src/variables.scss';

.root {
  background-color: $mercury-color;
}

.section {
  max-width: 420px;

  @media (max-width: 420px) {
    input,
    textarea {
      border-radius: 0 !important;
    }
  }
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-style: italic;
}
