@import 'src/variables.scss';

.section {
  padding: 0;
  display: flex;
  flex: 1;

  @media (max-width: $small-weight) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1;
}
