@import 'src/variables.scss';

.footer {
  background-color: $dark-gray-color;
  color: $sage-color;
}

.link,
.link:hover {
  color: $sage-color;
}

.info {
  color: $white-color;
}

.logo {
  height: 35px;
}

.social-media-link {
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
}

.twitter {
  composes: social-media-link;
  background-image: url('/assets/images/twitter.webp');
}

.instagram {
  composes: social-media-link;
  background-image: url('/assets/images/instagram.webp');
}

.facebook {
  composes: social-media-link;
  background-image: url('/assets/images/facebook.webp');
}
