@import 'src/variables.scss';

.root {
  margin-top: 54px;

  @media (max-width: $small-weight) {
    margin-top: 34px;
  }
}

.title {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid $barely-gray-color;
  display: flex;
  justify-content: space-between;
}

.step {
  color: $ochre-color;
}
