@import 'src/variables.scss';

$primary: $sage-color;
$secondary: $ochre-color;
$danger: $black-color;
$light: $light-gray-color;
$dark: $dark-gray-color;

$link-hover-decoration: none;

$input-color: $sage-color;
$input-placeholder-color: $light-gray-color;
$input-border-color: $light-sage-color;
$input-focus-border-color: $sage-color;
$input-border-radius: 10px;
$input-font-size: 20px;
$input-line-height: 1.25;
$input-font-weight: bold;
$input-btn-focus-box-shadow: inset 0 0 0 1px;
$input-height: 50px;
$form-feedback-font-size: 12px;

$custom-switch-width: 5rem;
$custom-control-gutter: 0.625rem;
$custom-switch-indicator-size: 2.125rem;

$progress-border-radius: 0;
$progress-height: 8px;

$btn-font-weight: 700;
$btn-white-space: nowrap;
$btn-border-width: 1px;
$btn-border-radius: 10px;
$btn-padding-y: 16px;
$btn-padding-x: 16px;
$btn-line-height: 18px !important;
$btn-focus-box-shadow: none !important;
$btn-active-box-shadow: none !important;

$dropdown-item-padding-y: 14px;
$dropdown-item-padding-x: 36px;
$dropdown-link-color: $sage-color;
$dropdown-link-hover-color: $sage-color;
$dropdown-font-size: 18px;
$dropdown-min-width: 105px;
$dropdown-padding-y: 0;
$dropdown-border-width: 2px;
$dropdown-border-color: $sage-color;
$dropdown-border-radius: 10px;
$dropdown-link-active-color: $sage-color;
$dropdown-link-active-bg: $barely-gray-color;
$btn-padding-x-sm: 20px;

@import '~bootstrap/scss/bootstrap';
@import 'react-datepicker/src/stylesheets/datepicker.scss';

body {
  color: $dark-gray-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-group.btn-group-toggle {
  height: 50px;
  & > .btn.btn-outline-primary {
    box-sizing: border-box;
    border: 1px solid $light-sage-color;
    color: $light-gray-color;

    &:hover {
      background-color: $barely-gray-color;
    }
  }

  & > .btn.btn-outline-primary.active {
    color: $white-color;
    border: none;
    z-index: 0;

    &:hover {
      background-color: $sage-color;
    }
  }
}

.btn,
.btn:focus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  height: 50px;

  &.btn-secondary {
    color: $sage-color;

    &:hover,
    &:active {
      background: $sage-color;
      color: $white-color;
      border-color: $sage-color;
    }
  }

  &.btn-ochre {
    background: $ochre-color;
    color: $sage-color;

    &:hover,
    &:active {
      background: $sage-color !important;
      color: $white-color !important;
    }
  }

  &.btn-with-arrows {
    padding-right: 40px;

    &:after {
      content: '»';
      position: absolute;
      right: 15px;
      font-size: 25px;
      line-height: 13px;
      font-weight: normal;
      margin-left: 10px;
      margin-top: -3px;
    }
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

.react-datepicker-wrapper {
  width: 100%;
  position: relative;
}

.react-datepicker-popper {
  z-index: 2;
}

.react-datepicker {
  border: 2px solid #5a7864;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: #fff;
  color: $sage-color;

  &__input-container {
    background-color: transparent;

    & > .form-control {
      z-index: 10;
    }

    &::after {
      content: '';
      cursor: pointer;
      top: 0;
      position: absolute;
      color: $sage-color;
      right: 0;
      margin: 0;
      border: none;
      width: 50px;
      height: 50px;
      border-left: 1px solid $light-sage-color;
    }

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      color: $sage-color;
      right: 0;
      margin: 0;
      background-image: url(/assets/images/Calendar.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      z-index: 0;
    }
  }

  &__header {
    background-color: $white-color;
    border-bottom: none;
    padding-top: 14px;
  }

  &__month {
    margin-bottom: 30px !important;
  }

  &__current-month,
  &-time__header,
  &-year-header {
    margin-top: 0;
    color: $sage-color;
    font-weight: 700;
    font-size: 18px;
  }

  &__triangle {
    display: none;
  }

  &__day-name,
  &__day,
  &__time-name {
    color: $sage-color;
    display: inline-block;
    width: 44px;
    line-height: 22px;
    padding: 11px 12px;
  }

  &__day--outside-month {
    color: $light-gray-color;
  }

  &__day-name {
    font-size: 11px;
    line-height: 14px;
  }

  &__day--selected,
  &__day--selected:hover {
    border-radius: 10px;
    background-color: $barely-gray-color;
  }

  &__day--keyboard-selected {
    background-color: $white-color;

    &:hover {
      background-color: $barely-gray-color;
    }
  }

  &__navigation {
    line-height: 22px;
    top: 20px;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 2px solid $sage-color;
    border-left: none;
    border-bottom: none;
    z-index: 1;
    text-indent: -999em;
    overflow: hidden;

    &--previous {
      transform: rotate(225deg);
      &:hover {
        border-color: $sage-color;
      }
    }
  }
}

.form-control {
  &.is-invalid {
    background-image: none;
    border-color: $sage-color !important;

    &:focus {
      box-shadow: 0 0 0 1px $sage-color;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

a.btn {
  display: table-cell;
}

img {
  pointer-events: none;
}

.label-with-separator:after {
  content: '';
  display: block;
  width: 54px;
  height: 6px;
  background-color: $ochre-color;
  margin: 20px 0;

  @media (max-width: $medium-weight) {
    & {
      width: 36px;
      height: 4px;
    }
  }
}

.error-message {
  color: $salmon-color;
}

.text-super {
  font-size: 72px;
  line-height: 76px;
}

.text-headline {
  font-size: 32px;
  line-height: 40px;
}

.text-subhead {
  font-size: 20px;
  line-height: 25px;
}

.text--body {
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
}

.text-label,
label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.text-all-cups {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

input.form-control {
  height: 50px;
}

.form-control::placeholder {
  color: $light-gray-color;
}

@media (max-width: $medium-weight) {
  .text-super {
    font-size: 50px;
    line-height: 50px;
  }

  .text-headline {
    font-size: 26px;
    line-height: 30px;
  }

  .text-subhead {
    font-size: 18px;
    line-height: 22px;
  }

  .text--body {
    font-size: 14px;
    line-height: 19px;
  }

  .text-label,
  label {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
  }

  .text-all-cups {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
