@import './variables.scss';

body {
  color: $dark-gray-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-weight: bold;
  height: 100%;
}

.btn, .btn:focus {
  border-radius: 10px;
  height: 50px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  letter-spacing: 0.1em;
  font-weight: bold;
  border: none !important;
  box-shadow: none !important;

  &.btn-ochre {
    background: $ochre-color;
    color: $sage-color;

    &:hover, &:active {
      background: $sage-color !important;
      color: $white-color !important;
    }
  }

  &.btn-dark-gray {
    background: $dark-gray-color;
    color: $white-color;

    &:hover, &:active {
      background: $sage-color !important;
      color: $white-color !important;
    }
  }

  &.btn-with-arrows:after {
    content: '»';
    font-size: 25px;
    line-height: 13px;
    font-weight: normal;
    margin-left: 10px;
    float: right;
  }
}

.btn-arrows {
  font-size: 25px;
  font-weight: normal;
  vertical-align: sub;
  margin-left: 10px;
}

section {
  padding: 30px 0;
}

.form-control {
  color: $sage-color;
  font-size: 20px;
  line-height: 25px;
  border-color: $sage-color;
  border-radius: 10px;

  &:focus {
    color: $sage-color;
    border-width: 2px;
    border-color: $sage-color;
    box-shadow: none;
  }
}

.progress {
  height: 8px;

  .progress-bar {
    background-color: $sage-color;
  }
}

a.btn {
  display: table-cell;
}

img {
  pointer-events: none;
}

.label-with-separator:after {
  content: "";
  display: block;
  width: 54px;
  height: 6px;
  background-color: $ochre-color;
  margin: 20px 0;

  @media (max-width: $medium-weight) {
    & {
      width: 36px;
      height: 4px;
    }
  }
}

.error-message {
  color: $salmon-color;
}

.text-super {
  font-size: 72px;
  line-height: 76px;
}
.text-headline {
  font-size: 32px;
  line-height: 40px;
}
.text-subhead {
  font-size: 20px;
  line-height: 25px;
}
.text-body {
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
}
.text-label, label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.text-all-cups {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


@media (max-width: $medium-weight) {
  .btn {
    height: 40px;
  }
  .text-super {
    font-size: 50px;
    line-height: 50px;
  }
  .text-headline {
    font-size: 26px;
    line-height: 30px;
  }
  .text-subhead {
    font-size: 18px;
    line-height: 22px;
  }
  .text-body {
    font-size: 14px;
    line-height: 19px;
  }
  .text-label, label {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
  }
  .text-all-cups {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
