// colors
$barely-gray-color: #F0F0EE;
$black-color: #000000;
$dark-gray-color: #323432;
$dark-ochre-color: #B2AA66;
$dark-sage-color: #375541;
$gray-color: #8C918C;
$light-gray-color: #CACCC6;
$light-ochre-color: #E6DE7D;
$light-sage-color: #96AF9B;
$mint-color: #59966D;
$ochre-color: #DCD28C;
$sage-color: #5A7864;
$salmon-color: #E1825F;
$sky-color: #82AAD2;
$white-color: #FFFFFF;

// weight
$small-weight: 576px;
$medium-weight: 768px;
$large-weight: 992px;
$extra-large-weight: 1200px;
