// colors
$barely-gray-color: #f0f0ee;
$black-color: #000000;
$dark-gray-color: #323432;
$dark-ochre-color: #b2aa66;
$dark-sage-color: #375541;
$gray-color: #8c918c;
$light-gray-color: #caccc6;
$light-ochre-color: #e6de7d;
$light-sage-color: #96af9b;
$mint-color: #59966d;
$ochre-color: #dcd28c;
$sage-color: #5a7864;
$salmon-color: #e1825f;
$sky-color: #82aad2;
$white-color: #ffffff;

// weight
$small-weight: 576px;
$medium-weight: 768px;
$large-weight: 992px;
$extra-large-weight: 1200px;
