@import 'src/variables.scss';

.image {
  max-width: 80vw;
  max-height: 80vh;
}

.body {
  min-height: 50px;
  min-width: 50px;
}
.content {
  width: auto !important;
}
.modal {
  align-items: center;
  justify-content: center;

  @media (min-width: $medium-weight) {
    min-width: 600px;
  }
  @media (min-width: 880px) {
    min-width: 800px;
  }
  @media (min-width: $large-weight) {
    min-width: 990px;
  }
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background-color: $white-color;
  color: $dark-sage-color;
  font-weight: bold;
  text-shadow: 1px 1px 2px $dark-sage-color;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  z-index: 100;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
}
