@import 'src/variables.scss';

.spinner {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 15px !important;
  width: 15px !important;
  border-top-color: $sage-color !important;
  border-left-color: $sage-color !important;
  border-bottom-color: $sage-color !important;
}
