@import 'src/variables.scss';

.dropzoneWrapper {
  min-height: 200px;
  display: table;
  width: -webkit-fit-content !important;

  @media (max-width: $medium-weight) {
    & {
      display: contents;
    }
  }
}
