@import 'src/variables.scss';

.auctions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
  grid-gap: 0.5rem;
  align-items: start;

  @media (max-width: $small-weight) {
    display: block;
    padding-left: 5px;
  }
}
