@import 'src/variables.scss';

.charitiesList {
  height: 120px;
  overflow: auto;
}
.charitiesItem {
  background-color: $sage-color;
  color: $white-color;
  height: 50px;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: middle;

  span {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
  }

  button {
    &,
    &:active,
    &:hover,
    &:focus {
      background-color: $light-sage-color;
      border-radius: 6px;
      height: 34px;
      width: 34px;
      float: right;

      &:after {
        content: 'L';
        color: $white-color;
        display: inline-block;
        transform: scaleX(-1) rotate(320deg);
        font-size: 15px;
      }
    }
  }
}
