@import 'src/variables.scss';

@media (min-width: $medium-weight) {
  .charitiesList {
    min-height: 120px;
  }
}

.charitiesItem {
  background-color: $sage-color;
  color: $white-color;
  height: 50px;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: middle;
}

.charityName {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}

.button {
  background-color: $light-sage-color;
  border-radius: 6px;
  height: 34px;
  width: 34px;
  float: right;
  border: none;

  &:after {
    content: 'L';
    color: $white-color;
    display: inline-block;
    transform: scaleX(-1) rotate(320deg);
    font-size: 15px;
  }
}
