@import 'src/variables.scss';

.select-field {
  min-width: 105px;

  .dropdown-toggle {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    overflow: hidden;
  }

  .dropdown-items-wrapper {
    max-height: 350px;
    overflow-y: auto;
  }

  &.dropdown.show > .dropdown-toggle {
    box-shadow: inset 0 0 0 1px $sage-color !important;
    background-color: $white-color;
    color: $sage-color;
    transition: none;

    &.btn-sm {
      background-color: $sage-color !important;
      color: $white-color !important;
      transition: none;
    }

    &::after {
      background-color: $sage-color;
      border: none;
    }

    &::before {
      transform: rotate(225deg);
      border-color: $white-color;
    }
  }

  &.dropdown.emptyState > .dropdown-toggle {
    &.btn {
      letter-spacing: 0;
      color: $light-gray-color;

      &:hover,
      &:active,
      &:focus {
        letter-spacing: 0 !important;
        color: $light-gray-color !important;
      }
    }
  }

  .dropdown-toggle.btn-outline-primary {
    display: inline-block;
    padding-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    letter-spacing: 0;
    height: 50px !important;
    font-size: 20px !important;
    border-color: $light-sage-color;

    &:hover,
    &:active,
    &:focus {
      background-color: $white-color !important;
      color: $sage-color !important;
    }

    &:disabled {
      background-color: $barely-gray-color;
      border: 1px solid $sage-color;
      pointer-events: none !important;
      color: $sage-color !important;
    }

    &.btn,
    &.btn:focus {
      justify-content: start;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      border: none;
      width: 50px;
      height: 50px;
      border-left: 1px solid $light-sage-color;
    }

    &::before {
      content: '';
      position: absolute;
      right: 18px;
      bottom: 20px;
      margin: 0;
      display: inline-block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border: 2px solid #5a7864;
      border-left: none;
      border-top: none;
      z-index: 1;
    }

    &.btn-sm {
      font-size: 18px !important;
      border-radius: 10px;

      &::after {
        border-left: none;
        background-color: transparent;
      }
    }
  }

  .dropdown-item {
    cursor: pointer;
    font-weight: 700;
    position: relative;
    white-space: normal;
    word-wrap: break-word;

    &.active::before {
      content: '';
      position: absolute;
      left: 7px;
      width: 24px;
      height: 24px;
      margin-top: 2px;
      background: url(/assets/images/verified.svg) no-repeat;
    }
  }

  @media (max-width: $medium-weight) {
    .dropdown-toggle {
      font-size: 18px !important;
    }
  }
  @media (max-width: $small-weight) {
    .dropdown-item {
      padding-right: 25px;
    }
  }
}
