@import 'src/variables.scss';

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $medium-weight) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
}

.contentLeft {
  flex-grow: 0;
  padding: 10px;
  @media (min-width: $medium-weight) {
    max-width: 50%;
    padding: 0 50px;
  }
}
.contentRight {
  flex-grow: 1;
  background-color: $barely-gray-color;

  @media (max-width: $medium-weight) {
    height: 246px;
    order: -1;
  }

  @media (width: $medium-weight) {
    height: auto;
    order: 0;
  }
}

.contentRightWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}
