@import 'src/variables.scss';

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $medium-weight) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
}

.contentLeft {
  flex-grow: 0;

  @media (min-width: $medium-weight) {
    min-width: 350px;
    width: 573px;
  }
}

.contentRight {
  flex-grow: 1;
  background-color: $barely-gray-color;
}

.contentRightWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}

.left {
  max-width: 573px !important;
}

.buttonIcon {
  max-width: 50px;
}

.buttonsGroup {
  margin-top: 56px;
}

.like {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 235px;
  top: 5px;
  border-radius: 36px;
  background-color: $white-color;
  cursor: pointer;
  background-image: url('/assets/images/like.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.auctionPicture {
  width: 280px;
  height: 280px;
  background-color: $barely-gray-color;
}

.auctionTitle {
  color: $sage-color;
  height: 85px;
}

.auctionOwnerPicture {
  width: 32px;
  height: 32px;
}
