.h2 {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.h4 {
  font-size: 1.5rem !important;
}

.input {
  font-weight: 600 !important;
  letter-spacing: 0.075rem;
  padding: 0 calc(1.25em + 0.75rem) !important;
}
