@import 'src/variables.scss';

.root {
  width: 267px;
  max-width: 267px;
  height: 352px;
  position: relative;
}

.description {
  flex: 1 0 auto;
  background-color: $white-color;
  padding: 20px;
}

.image {
  background-color: $barely-gray-color;
  height: 152px;
}

.title {
  height: 42px;
  overflow: hidden;
  color: $black-color;
  text-decoration: none;
}

.settled {
  opacity: 0.3;
}

.deleteBtn {
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 21px;
}

.followBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: $white-color;
  border-radius: 50%;
}

@media (max-width: $medium-weight) {
  .root {
    max-width: 278px;
  }

  .description {
    padding: 10px;
  }
}
