@import 'src/variables.scss';

.root {
  width: 262px;
  height: 400px;
  position: relative;
  background-color: $white-color;
  border-radius: 8px;
  
  -webkit-box-shadow: 0px 2px 15px 0px $light-gray-color;
  -moz-box-shadow: 0px 2px 15px 0px $light-gray-color;
  box-shadow: 0px 2px 15px 0px $light-gray-color;
  @media (min-width: $small-weight) {
    width: 300px;
  }
}

.description {
  flex: 1 0 auto;
  padding: 20px;
  border-radius:  0 0 8px 8px;
  border: 1px solid $light-gray-color;
}

.image {
  height: 180px;
  border-radius: 8px 8px 0 0;
  border: 1px solid $light-gray-color;
  border-bottom: 0;
}

.title {
  height: 42px;
  overflow: hidden;
  color: $black-color;
  text-decoration: none;
  font-size: 16px !important;
}

.settled {
  opacity: 0.3;
}

.deleteBtn {
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 21px;
}

.followBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: $white-color;
  border-radius: 50%;
}

@media (max-width: $medium-weight) {
  .description {
    padding: 10px;
  }
}
