@import 'src/variables.scss';

.navigation-header {
  border-bottom: 1px solid $light-gray-color;
  background: $dark-gray-color;
  color: $white-color;
  .header-logo {
    height: 20px;
  }
}

.header-nav-dropdown {
  a#headerNavDropdown {
    vertical-align: middle !important;
  }
  .dropdown-toggle {
    margin: 0 1em !important;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: no-repeat center url('/assets/images/hamburger.webp');

    &::after {
      display: none !important;
    }
  }

  &.show .dropdown-toggle {
    background-image: url('/assets/images/close.webp');
    width: 20px;
    height: 20px;
  }

  .nav-link {
    padding: 0;
    color: white !important;
  }

  .dropdown-menu {
    position: fixed;
    top: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;

    &.show {
      width: 100% !important;
      margin: 0 !important;
      border-radius: 0 !important;
    }
  }

  .nav-dropdown-menu {

    .dropdown-menu-user-name {
      color: $light-gray-color;
      max-width: 260px;
    }

    .dropdown-menu-user-picture {
      width: 36px;
      height: 36px;
    }

    .dropdown-item {
      color: $sage-color;
      padding: 10px 0;
      margin-left: -40px;

      span {
        margin-left: 40px;
      }

      &:hover {
        background-color: $barely-gray-color;
      }
    }

    .dropdown-menu-social-media {
      a {
        background-repeat: no-repeat;
        background-size: contain;
        width: 36px;
        height: 36px;
      }

      .twitter {
        background-image: url('/assets/images/twitter.webp');
      }

      .instagram {
        background-image: url('/assets/images/instagram.webp');
      }

      .facebook {
        background-image: url('/assets/images/facebook.webp');
      }
    }

    .dropdown-menu-copyright {
      color: $light-gray-color;
    }

    .dropdown-menu-privacy {
      color: $sage-color;
    }
  }
}

.desktop-navbar {
  display: none !important;
  .navbar-nav {
    a {
      color: $white-color !important;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: .05rem;
    }
  }
}

.header-login-profile-icon {
  margin-right: 1em !important;
  img {
    height: 20px;
    background-color: white;
  }
}

@media (min-width: $medium-weight) {
  .header-login-profile-icon {
    margin-right: 0 !important;
  }
  .header-nav-dropdown {
    display: none !important;
  }
  .desktop-navbar {
    display: block !important;
  }
}
