@import 'src/variables.scss';

.badgesWrapper {
  background: $white-color;
  -webkit-box-shadow: inset 0px 0px 5px 0px $gray-color;
  -moz-box-shadow: inset 0px 0px 5px 0px $gray-color;
  box-shadow: inset 0px 0px 5px 0px $gray-color;
  border-radius: 8px;
  width: auto !important;
}
