@import 'src/variables.scss';

.badgesWrapper {
  background: $white-color;
  -webkit-box-shadow: inset 0px 1px 4px 0px $gray-color;
  -moz-box-shadow: inset 0px 1px 4px 0px $gray-color;
  box-shadow: inset 0px 1px 4px 0px $gray-color;
  border-radius: 8px;
  width: auto !important;
  border: 1px solid $light-gray-color;
  border-top: 0;
  .topEarner {
    border-top: 1px solid $barely-gray-color;
    border-bottom: 1px solid $barely-gray-color;
    @media (min-width: $medium-weight) {
      border-top: 0;
      border-bottom: 0;
    }
  }
}
