@import 'src/variables.scss';

.select {
  background-color: $white-color;
  border-radius: 10px;
}

.auctionTitle {
  color: $dark-sage-color;
  font-weight: bold;
  padding-left: 5px;
  &:hover {
    color: $mint-color;
  }
}
