@import 'src/variables.scss';

.section {
  padding-bottom: 0;

  @media (max-width: $small-weight) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.dropzoneWrapper {
  min-height: 200px;
  display: table;

  @media (max-width: $medium-weight) {
    & {
      display: contents;
    }
  }
}
