@import 'src/variables.scss';

.idColumn {
  max-width: 235px;
  word-wrap: break-word;
}
.otherColumns {
  word-wrap: break-word;
}
.status {
  width: 100px;
}
.price {
  width: 90px;
}
.actions {
  width: 50px;
  padding: 0 !important;
}
.actionBtn {
  height: 49px;
  padding-left: 36px;
  justify-content: flex-start !important;
}
.tHead {
  & th {
    vertical-align: middle !important;
    white-space: normal;
  }
}
.private {
  color: $salmon-color;
  font-weight: bold;
}
