.about-us {
  color: #323432;
  padding: 20px 0;

  button:hover {
    background: #5A7864;
  }

  .separator {
    margin: 20px 0;
    display: block;
    height: 6px;
    width: 54px;
    background-color: #DCD28C;
  }
}
