.reviews {
  .title {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .separator {
    height: 6px;
    background-color: #DCD28C;
  }

  .description {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 11px;
      line-height: 14px;
    }

    .description {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .quotes {
    padding: 90px 0 20px 0;

    .react-multi-carousel-track {
      padding: 0 160px;
    }

    .react-multiple-carousel__arrow {
      background: #5A7864;

      &::before {
        color: #CACCC6;
        font-weight: bold;
      }
    }

    .review {
      max-width: 522px;
      display: inline-block;
      background-color: #F0F0EE;
      margin-right: 20px;
      padding: 20px;
    }

    .quote {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 800;
      line-height: 25px;
      margin-bottom: 30px;
    }

    .avatar {
      position: relative;
      top: -100px;
      text-align: center;
      height: 20px;

      .reviewer {
        height: 150px;
      }
    }

    .name {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
    }

    .quotes-sign {
      background-image: url("./quotes.png");
      background-repeat: no-repeat;
      height: 36px;
      width: 36px;
    }

    .badge {
      background-image: url("./badge-verified.png");
      background-repeat: no-repeat;
      height: 22px;
      padding-left: 30px;
      line-height: 22px;
      color: #5A7864;
    }
  }
}


