@import 'src/variables.scss';

.footer {
  background-color: $dark-gray-color;

  a {
    text-decoration: none !important;
  }
}

.logo {
  height: 50px;
}

.footerNav, .footerNav a {
  color: $barely-gray-color;
  letter-spacing: 0.05em;
}

.privacyPolicy {
  &,
  a {
    font-weight: 500;
    color: $gray-color;
  }
}
