@import 'src/variables.scss';

.title {
  color: $sage-color;
}

.root {
  background-color: $barely-gray-color;
  padding: 1.5em 0;
  overflow: hidden;
}

.seeAllLink {
  color: $sage-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.05em;
}
