@import 'src/variables.scss';

.endingSoon {
  padding: 30px 0;
  color: $sage-color;
  background-color: $barely-gray-color;
}

.seeAllLink {
  color: $dark-gray-color;
}

.auction {
  width: 280px;
  display: inline-block;
  margin-right: 40px;
  color: $dark-gray-color;
  background-color: $white-color;
}

.picture {
  width: 280px;
  height: 280px;
  background-color: $barely-gray-color;
}

.title {
  color: $sage-color;
  height: 85px;
}

.ownerPicture {
  width: 32px;
  height: 32px;
}

.like {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 235px;
  top: 5px;
  border-radius: 36px;
  background-color: $white-color;
  cursor: pointer;
  background-image: url('/assets/images/like.webp');
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $extra-large-weight) {
  .homepageContainer {
    max-width: 100%;
    padding: 0 150px;
  }
}
