@import 'src/variables.scss';

.endingSoon {
  color: $sage-color;
  background-color: $barely-gray-color;
  padding: 30px 0;
}
.seeAllLink {
  color: $dark-gray-color;
}

@media (min-width: $extra-large-weight) {
  .homepageContainer {
    max-width: 100% !important;
    padding: 0 150px !important;
  }
}
