@import 'src/variables.scss';

.withIcon, .withoutIcon {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.withIcon {
  img {
    height: 30px !important;
  }
}

.withoutIcon {
  img {
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(202,204,198,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(202,204,198,1);
    box-shadow: 0px 0px 10px 0px rgba(202,204,198,1);
  }
}

.title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.075rem !important;
  font-weight: 600 !important;
}

.firstValueWrapper {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  max-width: 240px !important;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  @media (min-width: $medium-weight) {
    max-width: 190px !important;
  }
  a {
    text-decoration: none;
    color: $dark-sage-color;
  }
}

.secondValue {
  font-size: 14px !important;
  line-height: 21px;
  font-weight: 400;
  color: $dark-gray-color;
}
