@import 'src/variables.scss';

.dropdownFormGroup {
  flex-wrap: nowrap !important;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: $small-weight) {
  .formGroup {
    width: 100%;
  }
  .select {
    min-width: 100%;
  }
}
