@import 'src/variables.scss';

.actionLink {
  color: $sage-color;
  letter-spacing: 0.1em;
  &:hover {
    color: $dark-sage-color;
  }
}
.hr {
  flex: 0 0 100%;
  margin-left: 15px;
}
.successBlock {
  width: 400px;
}
.statusPageBackground {
  background-color: $white-color;
}
.statusPageTextColor {
  color: $black-color;
}

.markedText {
  color: $sage-color;
  padding-left: 5px;
  padding-right: 5px;
}
:global {
  @media (max-width: $small-weight) {
    .input-group {
      flex-wrap: nowrap !important;
      & > .form-control {
        font-size: 16px;
      }
    }
  }
}
