@import 'src/variables.scss';

$custom-switch-indicator-border-radius: 20px;
$custom-switch-width: 5rem;
$custom-control-gutter: 0.625rem;
$custom-control-indicator-size: 2.5rem;
$custom-control-indicator-border-width: 3px;
$custom-control-indicator-border-color: $white-color;

.custom-switch2.custom-switch {
  height: $custom-switch-width / 2;

  .custom-control-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;

    &::before {
      cursor: pointer;
      top: 0;
      height: $custom-switch-width / 2;
      border-radius: $custom-switch-indicator-border-radius;
      border: $custom-control-indicator-border-width solid $light-gray-color;
      background-color: $light-gray-color;
    }

    &::after {
      top: $custom-control-indicator-border-width;
      left: calc(
        #{$custom-control-indicator-border-width} - (#{$custom-switch-width} + #{$custom-control-gutter})
      ) !important;
      background-color: $custom-control-indicator-border-color;
      border-radius: $custom-switch-indicator-border-radius;
      transform: translateX($custom-switch-width / 2);
    }
  }

  .custom-control-input {
    &:not(:checked) ~ .custom-control-label {
      color: $light-gray-color;
    }

    &:checked ~ .custom-control-label {
      &::after {
        transform: none;
      }
    }

    &:focus ~ .custom-control-label::before {
      box-shadow: none;
    }

    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: $light-gray-color;
    }

    &.custom-control-input:checked ~ .custom-control-label::before {
      border-color: $sage-color;
      background-color: $sage-color;
    }
  }
}
