@import 'src/variables.scss';

.previewWrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 85px;
  height: 85px;
  background-color: $barely-gray-color;
  margin: 5px;
  border-radius: 15px;
  border: 1px solid $sage-color;
}
.attachmentContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preview {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  text-align: center;
  object-fit: contain;
  margin: auto;
}
