@import 'src/variables.scss';

.wrapper {
  line-height: 36px;
}

.tableContainer {
  overflow-x: auto;

  table {
    tr {
      td:first-child {
        min-width: 120px;
      }
    }
  }
}

.editButton {
  float: right;
  padding: 8px 24px !important;

  &:hover {
    background-color: $ochre-color !important;
    border-color: $ochre-color !important;
    color: $sage-color !important;
  }
}
