@import 'src/variables.scss';

.name {
  color: $gray-color;
  margin-left: 20px;
}

.charity {
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 207px;
  overflow: hidden;
  word-break: break-word;
}

.link {
  color: $dark-gray-color;
  text-decoration: none;
}

.avatar {
  width: 12px;
  height: 12px;
  line-height: 12px;
  margin-top: 4px;
}
