@import 'src/variables.scss';

.name {
  color: $dark-gray-color;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  letter-spacing: .025rem;
}

.charityName {
  font-weight: 400 !important;
  letter-spacing: .025rem !important;
  font-size: 12px !important;
  line-height: 17px;
  height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  word-break: break-word;
}


.link {
  color: $dark-gray-color;
  text-decoration: none;
}

.avatar {
  width: 20px;
  height: 20px;
}
