@import '../../../variables.scss';

.pagination {
  .pagination-btn, .pagination-btn:focus {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('./pagination-btn-left.webp');
    background-color: none;
    transition: transform 0s;
    cursor: pointer;

    &:disabled, &:not([disabled]):hover {
      background-image: url('./pagination-btn-left-hover.webp');
    }

    &.pagination-btn-next {
      transform: rotate(-180deg);
    }
  }
  .pagination-status {
    margin: auto 0;

    .pagination-status-info {
      color: $light-gray-color;
    }
  }
}
