@import 'src/variables.scss';

.dropdown > div {
  width: 100%;
}

.toggle {
  padding-bottom: 13px;
  &:after {
    display: none;
  }
}

@media (max-width: $small-weight) {
  .dropdownWrapper,
  .dropdownFormGroup {
    width: 100%;
  }

  .dropdown {
    padding-right: 50px;
  }
}

.sortByInput {
  height: 50px;
  background-color: $barely-gray-color;
  border-right: none;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  cursor: pointer;
  margin-left: 1px;
}

.sortByInput:focus {
  background-color: $barely-gray-color;
  margin-left: 0;

  & + div {
    border-width: 2px !important;
    border-left-width: 1px !important;
  }
}

.inputBtn {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  border-radius: 0 10px 10px 0;
  text-align: center;
  border: 1px solid $sage-color;
  color: $sage-color;
  user-select: none;
  padding: 10px;

  &:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    transform: rotate(45deg);
    border: 2px solid $sage-color;
    border-left: none;
    border-top: none;
  }
}
