@import 'src/variables.scss';

.page {
  background-color: $barely-gray-color;
  flex: 1;
}

.influencerId {
  max-width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.inviteActionBtn {
  height: 49px;
  padding-left: 36px;
  justify-content: flex-start !important;
}

:global(.btn).inviteBtn {
  @media (max-width: $medium-weight) {
    line-height: 7px !important;
  }

  @media (max-width: $small-weight) {
    width: 47%;
  }
}

@media (max-width: $small-weight) {
  .searchInput {
    order: 0;
  }
  .pagination {
    order: 1;
  }
}
