@import 'src/variables.scss';

.idColumn {
  max-width: 235px;
  word-wrap: break-word;
}
.otherColumns {
  max-width: 170px;
  word-break: break-word;
}
.actions {
  width: 50px;
  padding: 0 !important;
}
.inviteActionBtn {
  height: 49px;
  padding-left: 36px;
  justify-content: flex-start !important;
}

:global(.btn).inviteBtn {
  @media (max-width: $medium-weight) {
    line-height: 7px !important;
  }

  @media (max-width: $small-weight) {
    width: 47%;
  }
}
