@import 'src/variables.scss';

.root {
  display: block;
  position: relative;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.more {
  display: block;
  cursor: pointer;
  margin-top: 16px;
  font-weight: 500;
  color: $light-gray-color !important;

  &:hover {
    color: $ochre-color !important;
  }
}
