@import 'src/variables.scss';

.review {
  margin-top: 100px;
  width: 522px;
  min-height: 347px;
  display: inline-block;
  background-color: $barely-gray-color;
  margin-right: 20px;
  padding: 40px;
}

@media (max-width: $medium-weight) {
  .review {
    width: 422px;
  }
}

@media (max-width: $small-weight) {
  .review {
    width: 278px;
  }

  .avatar {
    height: 120px;
    width: 120px;
  }

  .avatarWrapper {
    top: -120px;
    left: 20%;
  }
}

.avatarWrapper {
  position: relative;
  text-align: center;
  top: -120px;
  left: 30%;
}

.avatar {
  position: absolute;
  z-index: 100;
  height: 150px;
  width: 150px;
}

.quotesSign {
  background-image: url('/assets/images/quotes.webp');
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
}

.reviewsQuote {
  min-height: 180px;
}

.badge {
  height: 22px;
}

.badgeVerified {
  height: 22px;
  width: 22px;
  border-radius: 22px;
  display: inline-block;
  line-height: 22px;
  background-color: $sage-color;
  border: none;
  margin-top: 0;

  &:after {
    content: 'L';
    color: $white-color;
    display: inline-block;
    transform: scaleX(-1) rotate(325deg);
    line-height: 0;
    font-weight: bold;
    padding: 0 0 19px 9px;
  }
  margin-right: 10px;
}
