@import 'src/variables.scss';

.title {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}

.pageBtn,
.pageBtn:hover,
.pageBtn:focus {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: $sage-color;
  border: none;
}

.dots {
  width: 10px;
  height: 10px;
}

.dots + .activePageBnt {
  margin-left: 10px;
}

.activePageBnt,
.activePageBnt:focus,
.activePageBnt:hover {
  background-color: $sage-color;
  border-radius: 30px;
  color: $white-color !important;
  border: none;
  height: 30px;
  width: 30px;
}

.navBtn {
  &,
  &:hover,
  &:active {
    color: $sage-color;
  }
}
