@import 'src/variables.scss';

.section {
  padding-bottom: 0;

  @media (max-width: $small-weight) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.dropzone {
  cursor: pointer;
  color: $sage-color;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  border: 1px dashed $light-sage-color;
  box-sizing: border-box;
  border-radius: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  &:focus {
    outline-color: $light-sage-color;
  }
}
