@import 'src/variables.scss';

.bidButton {
  padding: 17px !important;
  height: 20px;
  white-space: normal !important;
  max-width: 100% !important ;
  div {
    border-radius: 10px;
    background-color: $ochre-color;
  }
  &:hover {
    color: $white-color !important;
    background-color: $ochre-color !important;
    border-color: $ochre-color !important;
  }
}
