@import 'src/variables.scss';

.avatar {
  width: 194px;
  height: 194px;
  margin: 0 auto;
  border-radius: 50%;
  transform: translateY(33px);
  border-radius: 92px;
  background-size: contain;
  background-color: $white-color;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (max-width: $small-weight) {
  .avatar {
    width: 120px;
    height: 120px;
    transform: translateY(20px);
  }
}
