@import 'src/variables.scss';

.reviews {
  padding: 30px 0;
}

@media (min-width: $extra-large-weight) {
  .homepageContainer {
    max-width: 100% !important;
    padding: 0 150px !important;
  }
}
