@import 'src/variables.scss';

.page {
  background-color: $barely-gray-color;
  flex: 1;
}

.bidButton {
  padding: 17px !important;
  height: 20px;
  white-space: normal !important;
  max-width: 100% !important ;
  div {
    border-radius: 10px;
    background-color: $ochre-color;
  }
  &:hover {
    color: $white-color !important;
    background-color: $ochre-color !important;
    border-color: $ochre-color !important;
  }
}

.select {
  width: 50%;
  margin: 15px 0px !important;
}
.table {
  word-wrap: break-word;
  white-space: normal;
}
.datePicker {
  min-width: 200px;
}

@media (max-width: $medium-weight) {
  .select {
    width: 100% !important;
  }
}
