@import 'src/variables.scss';

.page {
  background-color: $barely-gray-color;
  flex: 1;
}

.bidButton {
  height: 20px;
  &:hover {
    color: $white-color !important;
    background-color: $ochre-color !important;
    border-color: $ochre-color !important;
  }
}
