@import 'src/variables.scss';

.divider:not(:last-child) {
  border-bottom: 1px solid $barely-gray-color;
  padding-bottom: 60px;
  margin-bottom: 25px;

  @media (max-width: $small-weight) {
    padding-bottom: 30px;
  }
}
