@import 'src/variables.scss';

.rightBlock {
  background-color: $barely-gray-color;
}

.auctions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(428px, 1fr));
  grid-gap: 0.5rem;
  align-items: start;

  @media (max-width: $small-weight) {
    display: block;
  }
}

.topPanel {
  height: 100px;
}
