@import 'src/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 481px;
  width: 305px;
  max-width: 305px;
}

.name {
  font-size: 11px !important;
}

.link {
  color: $dark-gray-color !important;
  white-space: nowrap;
}

.description {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: $white-color;
  padding: 20px;
}

.image {
  background-color: #f8f8f8;
}

.auctionTitle {
  color: $sage-color !important;
  font-weight: 700;
}

.horizontalRoot {
  max-width: 428px;
  height: 214px;
  width: 428px;
  flex-direction: row;
}

.horizontalImage,
.horizontalDescription {
  height: 214px;
  width: 214px;
  flex-shrink: 0;
}

.horizontalDescription {
  flex-grow: 1;
  flex-basis: 50%;
}

@media (max-width: $medium-weight) {
  .root {
    width: 278px;
    max-width: 278px;
    height: 462px;
  }

  .horizontalRoot {
    max-width: 335px;
    width: 335px;
  }

  .horizontalImage,
  .horizontalDescription {
    font-size: 14px;
    flex-shrink: 0;
    height: 163px;
    width: 163px;
  }
}
