@import 'src/variables.scss';

.actionLink {
  color: $sage-color;
  letter-spacing: 0.1em;
  &:hover {
    color: $dark-sage-color;
  }
}

.successBlock {
  width: 400px;
}
.copyBtn {
  color: $white-color !important;
  background-color: $sage-color !important;
  &:hover {
    background-color: $dark-sage-color !important;
    color: $white-color !important;
  }
}
.statusPageBackground {
  background-color: $white-color;
}
.statusPageTextColor {
  color: $black-color;
}
