@import 'src/variables.scss';

.actionLink {
  color: $sage-color;
  letter-spacing: 0.1em;
  &:hover {
    color: $dark-sage-color;
  }
}

.successBlock {
  width: 400px;
}
.copyInput {
  flex: 0 1 auto !important;
  max-width: calc(100% - 80px);
}
.copyBtn {
  color: $white-color !important;
  background-color: $sage-color !important;
  &:hover {
    background-color: $dark-sage-color !important;
    color: $white-color !important;
  }
}
.statusPageBackground {
  background-color: $white-color;
}
.statusPageTextColor {
  color: $black-color;
}

.markedText {
  color: $sage-color;
  padding-left: 5px;
  padding-right: 5px;
}
