@import 'src/variables.scss';

.banner {
  height: 505px;
  color: $white-color;
  text-align: left;
  background-color: $sage-color;
}

.wrapper {
  height: 100%;
  padding: 30px 0;
  background-image: url('/assets/images/player-md.webp');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.button {
  &:hover,
  &:active,
  &:hover:focus,
  &:active:focus {
    background: $ochre-color !important;
  }
}

.signature {
  bottom: 30px;
}

.separator {
  height: 12px;
  width: 102px;
  background-color: $dark-gray-color;
}

@media (max-width: $large-weight) {
  .wrapper {
    background-image: none;
  }
  .banner {
    background-image: url('/assets/images/player-sm.webp');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .separator {
    height: 8px;
    width: 68px;
  }
}

@media (min-width: $extra-large-weight) {
  .homepageContainer {
    max-width: 100% !important;
    padding: 0 150px !important;
  }
}

@media (max-width: $small-weight) {
  .button {
    height: 40px !important;
  }
}
