@import 'src/variables.scss';

.wrapper {
  background-image: url('/assets/images/banner.png');
  background-repeat: no-repeat;
  background-position: -300px 0px;
  background-size: cover;
  border-bottom: 1px solid black;
  border-top: 1px solid $dark-gray-color;
}
.link {
  font-weight: 500;
  text-decoration: none;
}

.contribFontWeight {
  font-weight: 800;
}

.text {
  font-weight: 600;
  color: $white-color;
  align-items: center;
  text-align: center;
}

@media (max-width: 375px) {
  .text {
    font-size: 16px;
    line-height: 32px;
    margin: auto;
    letter-spacing: 0.025em;
  }
}

@media (min-width: 376px) {
  .text {
    font-size: 16px;
    line-height: 32px;
    margin: auto;
    letter-spacing: 0.025em;
  }
}

@media (min-width: $small-weight) {
  .text {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.025em;
  }
}

@media (min-width: $medium-weight) {
  .wrapper {
    background-position: -80px !important;
  }
  .text {
    font-size: 18px !important;
    line-height: 36px !important;
    letter-spacing: 0.05em !important;
    max-width: 500px !important;
  }
}

@media (min-width: $large-weight) {
  .wrapper {
    background-position: 0 !important;
  }
  .text {
    font-size: 20px !important;
    line-height: 42px !important;
    max-width: 550px !important;
  }
}
