@import '../../../variables.scss';

input[type='checkbox'] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 100;

  &,
  & + span {
    margin-left: 10px;
    padding-top: 6px;
    width: 18px;
    height: 18px;
  }

  & + span {
    display: inline-block;
    border: 2px solid $light-sage-color;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
  }

  &:checked + span {
    background-color: $dark-gray-color;
    border: none;
    margin-top: 0;

    &:after {
      content: 'L';
      color: $white-color;
      display: inline-block;
      transform: scaleX(-1) rotate(325deg);
      line-height: 0;
      font-weight: bold;
      padding: 0 0 9px 22px;
    }
  }
}
