@import 'src/variables.scss';

.select {
  min-width: 306px;
}

.dropdownFormGroup {
  flex-wrap: nowrap !important;
  width: 100%;
}

@media (max-width: $small-weight) {
  .formGroup {
    width: 100%;
  }
  .select {
    min-width: 100%;
  }
}
