@import '../../variables.scss';

.step-title {
  color: $ochre-color;
  white-space: nowrap;
}

.steps-navigation-container .row {
  height: 100px;
  background-color: $barely-gray-color;
  display: flex;

  @media (max-width: $medium-weight) {
    height: 80px;
  }

  .steps-navigation-items {
    margin: auto;

    .steps-prev-btn {
      color: $sage-color;

      &.disabled {
        opacity: 0.3;
      }
    }

    .steps-next-btn {
      border-radius: 10px;
      display: block;
      padding-left: 40px;
      height: 50px;
      width: 197px;
      font-size: 20px;
      line-height: 36px;
      background-color: $sage-color;
      color: $white-color;

      &:after {
        line-height: 33px;
      }

      &:hover, &:active {
        background: $dark-gray-color !important;
        color: $sage-color;
      }
    }
  }
}
