@import 'src/variables.scss';

.bids {
  font-weight: 500 !important;
  letter-spacing: 0.025rem;
  color: $sage-color;
}

.dot {
  padding: 0 6px;
}

.date {
  font-size: 13px !important;
  line-height: 24px;
  font-weight: 500 !important;
  letter-spacing: 0.08rem !important;
  color: $gray-color;
}
