@import 'src/variables.scss';

.container {
  border: 1px solid $barely-gray-color;
  border-left: none;
  border-right: none;
}

.text {
  color: $sage-color;
  cursor: pointer;
  user-select: none;
}
