@import 'src/variables.scss';

.container {
  background-color: $barely-gray-color;
}

.footer {
  background-color: $mercury-color;

  @media (min-width: $small-weight) {
    padding-bottom: 130px;
  }
}
