@import 'src/variables.scss';

.previewWrapper {
  padding: 0 10px 10px 0;
}
.imagePreview {
  max-height: 80px;
  max-width: 100px;
}

.mediaDeleteBnt {
  display: inline-block;
  position: absolute;
  transform: translateX(-100%);
  height: 15px;
  width: 15px;
  border-radius: 15px;
  line-height: 15px;
  background-color: $white-color;
  text-align: center;
  cursor: pointer;
}
