@import 'src/variables.scss';

.textarea {
  min-height: 200px !important;
}

.avatarBlock {
  position: relative;
  min-height: 100px;
  padding-top: 40px;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: $sage-color;
    z-index: -1;
  }
}

.inputUrl {
  width: 500px;
}