@import 'src/variables.scss';

.auction-attachments-slider {

  /* Arrows */
  .slick-arrow {
    position: absolute;
    display: block;
    height: 15px;
    width: 15px;
    top: calc(50% - 40px);
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    z-index: 100;
    border: none;
    user-select: none;
    background: none;

    &:after {
      display: inline-block;
      width: 15px;
      height: 15px;
      content: '';
      transform: rotate(-45deg);
      border: 2px solid $white-color;
      border-right: none;
      border-bottom: none;
      margin-left: 8px;
    }
  }
  .slick-next,
  .slick-prev {
    top: calc(min(270px, 50vw) - 15px);
    width: 40px;
    height: 40px;
    background: $dark-gray-color;
    border-radius: 50%;
    box-shadow: 0 0 4px #888;
  }
  .slick-next {
    transform: rotate(-180deg);
    right: 0px;
  }

  /* Dots */
  .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }

  .slick-dots {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  .slick-dots li {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    cursor: pointer;

    & > div {
      margin: auto;
    }

    &.slick-active {
      border: 1px solid $salmon-color;
    }
  }
}

@media (max-width: $almost-medium-weight) {
  .auction-attachments-slider {
    margin-bottom: 0;

    ul.slick-dots {
      li {
        width: 16px !important;
        height: 16px !important;
        margin-right: 0 !important;

        & > div {
          height: 8px;
          width: 8px;
          background-color: $light-silver-color;
          border-radius: 50%;
          display: inline-block;
        }

        &.slick-active {
          border: none !important;
          & > div {
            background-color: $gray77-color;
          }
        }
      }
    }
  }
}

@media (max-width: $small-weight) {
  .auction-attachments-slider {
    margin-bottom: 0;
    margin-left: -0.75rem;
    margin-right: -0.75rem;

    .slick-prev {
      transform: scale(0.9, -0.9) translateY(50%);
    }
    .slick-next {
      transform: rotate(-180deg) scale(0.9, -0.9) translateY(-50%) !important;
    }
  }
}

@media (min-width: $extra-large-weight) {
  .slick-next {
    transform: rotate(-180deg);
    right: 0px;
  }
}