@import 'src/variables.scss';

.link {
  &,
  &:hover {
    color: $sky-color;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 21px !important;
    cursor: pointer;
  }
}
a.link {
  display: block !important;
  text-decoration: none;
}

.framed {
  border: 1px solid $whitesmoke-color;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem !important;
}
