@import 'src/variables.scss';

.link {
  &,
  &:hover {
    color: $sky-color;
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 16px !important;
    cursor: pointer;
    width: fit-content;
  }
}
a.link {
  display: inline-block !important;
}

.framed {
  border: 1px solid $whitesmoke-color;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem !important;
}
