@import 'src/variables.scss';

.text-super {
  font-size: 72px;
  line-height: 76px;
}

.text-headline {
  font-size: 32px;
  line-height: 40px;
}

.text-subhead {
  font-size: 20px;
  line-height: 25px;
}

.text--body {
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
}

.text-label,
label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.text-all-cups {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

input.form-control {
  height: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: $input-color;
  -webkit-box-shadow: inset 0 0 0 1px $input-focus-border-color;
}

.form-control::placeholder {
  color: $light-gray-color;
}

@media (max-width: $medium-weight) {
  .btn:not(.btn-with-input, .btn-link) {
    height: 40px;
  }

  .text-super {
    font-size: 50px;
    line-height: 50px;
  }

  .text-headline {
    font-size: 26px;
    line-height: 30px;
  }

  .text-subhead {
    font-size: 18px;
    line-height: 22px;
  }

  .text--body {
    font-size: 14px;
    line-height: 19px;
  }

  .text-label,
  label {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
  }

  .text-all-cups {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
