$primary: $sage-color;
$secondary: $ochre-color;
$danger: $black-color;
$warning: $salmon-color;
$light: $light-gray-color;
$dark: $dark-gray-color;

$link-hover-decoration: none;

$input-color: $sage-color;
$input-placeholder-color: $light-gray-color;
$input-border-color: $light-sage-color;
$input-focus-border-color: $sage-color;
$input-border-radius: 10px;
$input-font-size: 20px;
$input-line-height: 1.25;
$input-font-weight: bold;
$input-btn-focus-box-shadow: inset 0 0 0 1px;
$input-height: 50px;
$form-feedback-font-size: 12px;

$custom-switch-width: 5rem;
$custom-control-gutter: 0.625rem;
$custom-switch-indicator-size: 2.125rem;

$progress-border-radius: 0;
$progress-height: 8px;

$btn-font-weight: 700;
$btn-white-space: nowrap;
$btn-border-width: 1px;
$btn-border-radius: 10px;
$btn-padding-y: 16px;
$btn-padding-x: 16px;
$btn-line-height: 18px !important;
$btn-focus-box-shadow: none !important;
$btn-active-box-shadow: none !important;
$btn-padding-x-sm: 20px;
$btn-border-radius-sm: 7px;

$dropdown-item-padding-y: 14px;
$dropdown-item-padding-x: 36px;
$dropdown-link-color: $sage-color;
$dropdown-link-hover-color: $sage-color;
$dropdown-font-size: 18px;
$dropdown-min-width: 105px;
$dropdown-padding-y: 0;
$dropdown-border-width: 2px;
$dropdown-border-color: $sage-color;
$dropdown-border-radius: 10px;
$dropdown-link-active-color: $sage-color;
$dropdown-link-active-bg: $barely-gray-color;
$dropdown-inner-border-radius: 0;

$modal-header-padding: 1.5rem;
$modal-inner-padding: 1.5rem;
$modal-footer-border-width: 0;
$modal-header-border-width: 0;
