@import 'src/variables.scss';

.cardInputWrapper {
  max-width: 350px;
  margin: 0 auto;
}

.cardInfo {
  color: $sage-color;
}

.expired {
  color: $salmon-color;
}

.addCardBtn {
  letter-spacing: 0 !important;
}
