@import 'src/variables.scss';

.cardInputWrapper {
  max-width: 350px;
  margin: 0 auto;

  @media (max-width: $small-weight) {
    max-width: 100%;
  }
}

.cardInfo {
  color: $sage-color;
}

.expired {
  color: $salmon-color;
}

.addCardBtn {
  letter-spacing: 0 !important;
}

.confirmBtn {
  white-space: break-spaces !important;
  height: auto;
}
