.ending-soon {
  color: #5A7864;
  background-color: #F0F0EE;

  .title {
    font-size: 72px;
    line-height: 76px;
  }

  .see-all {
    color: #323432;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }

  .react-multi-carousel-track {
    padding: 0 160px;
  }

  .react-multiple-carousel__arrow {
    background: #5A7864;

    &::before {
      color: #CACCC6;
      font-weight: bold;
    }
  }

  .auctions {
    padding-bottom: 40px;

    .picture {
      background-repeat: no-repeat;
      background-size: contain;
    }

    .auction {
      width: 280px;
      display: inline-block;
      margin-right: 40px;
      background-color: #FFFFFF;

      .like {
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background-color: #FFFFFF;
        text-align: center;
        left: 235px;
        top: 5px;
        cursor: pointer;

        background-image: url("./like.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      img.picture {
        width: 280px;
        height: 280px;
        background-color: #F0F0EE;
      }

      .info {
        .owner {
          .picture {
            width: 32px;
            height: 32px;
          }

          .name {
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            color: #323432;
          }
        }

        .description, .price {
          font-size: 20px;
          line-height: 25px;
        }

        .description {
          padding-top: 10px;
        }

        .price, .statistics {
          color: #323432;
        }

        .statistics {
          padding-top: 10px;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}
