@import '../../variables.scss';

.reviews {
  .reviews-separator {
    width: 54px;
    height: 6px;
    background-color: $ochre-color;
  }

  .quotes {
    padding: 90px 0 20px 0;

    .react-multi-carousel-track {
      padding: 0 160px;
    }

    .react-multiple-carousel__arrow {
      background: $sage-color;

      &::before {
        color: $light-gray-color;
        font-weight: bold;
      }
    }

    .review {
      max-width: 522px;
      height: 347px;
      display: inline-block;
      background-color: $barely-gray-color;
      margin-right: 20px;
      padding: 40px;
    }

    .avatar {
      position: relative;
      top: -100px;
      text-align: center;
      height: 20px;

      .reviewer {
        height: 150px;
        pointer-events: none;
      }
    }

    .quotes-sign {
      background-image: url("./quotes.png");
      background-repeat: no-repeat;
      height: 36px;
      width: 36px;
    }

    .reviews-quote {
      height: 180px;
    }

    .badge {
      background-image: url("./badge-verified.png");
      background-repeat: no-repeat;
      height: 22px;
      padding-left: 30px;
      color: $sage-color;
    }
  }
}


