@import 'src/variables.scss';

.root {
  height: 100px;
  background-color: $barely-gray-color;
  margin-top: 56px;
  padding: 24px;
}

.button {
  min-width: 197px;
  height: 50px !important;

  transition: opacity ease-in-out 0.25s;
  &:disabled {
    opacity: 0.2;
  }
}

@media (max-width: $small-weight) {
  .root {
    margin-top: 26px;
  }

  .button {
    min-width: 162px;
  }
}
