@import 'src/variables.scss';

.attachmentWrapper,
.attachmentThumbnailWrapper {
  display: flex;
  justify-content: center;
}
.attachmentWrapper {
  width: 540px;
  height: 540px;
}
.attachment {
  max-width: 540px;
  max-height: 540px;
  margin: 0 auto;
}
.attachmentThumbnail {
  max-width: 50px;
  max-height: 50px;
}

.attachmentStatus {
  height: 20px;
  line-height: 20px !important;
  background-color: $ochre-color;
}

@media (max-width: $medium-weight) {
  .attachmentWrapper {
    width: 100%;
    height: 100vw;
  }
  .slider,
  .attachment {
    max-width: 100%;
    max-height: 100vw;
    margin: 0 !important;
  }
}
