@import 'src/variables.scss';

.wrapper {
  cursor: pointer;
  box-sizing: border-box;
  margin: auto !important;

  iframe {
    max-width: 540px;
    max-height: 540px;
    width: 100%;
    height: min(100vw, 100vh);
  }
}

.attachment {
  max-width: 540px;
  max-height: 540px;
  width: 100%;
  height: min(100vw, 100vh);
  margin: 0 auto;
  object-fit: contain;
}
.thumbnail {
  max-width: 50px;
  max-height: 50px;
}
.attachmentStatus {
  height: 30px;
  line-height: 30px !important;
  background-color: $ochre-color;
}

.slider {
  display: flex;
  flex-direction: column;
}

@media (min-width: $small-weight) {
  .slider,
  .attachment {
    max-width: 100%;
  }
  .wrapper {
    margin-bottom: 0;
    display: block !important;
  }
  .slider {
    flex-direction: column;
  }
}

@media (min-width: $extra-large-weight) {
  .slider {
    flex-direction: row-reverse;
  }
  .wrapper {
    border: 1px solid $whitesmoke-color;
  }
}
