@import 'src/variables.scss';

.paginationBtn {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: $sage-color !important;
  transition: transform 0s;
  cursor: pointer;
  border-radius: 50% !important;
  flex: none;

  &::before {
    content: '';
    position: absolute;
    right: 13px;
    bottom: 14px;
    margin: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    border: 2px solid $white-color;
    border-right: none;
    border-bottom: none;
    z-index: 1;
  }
  &:disabled,
  &:not([disabled]):hover {
    &::before {
      border-color: $light-sage-color;
    }
  }
}
.nextBtn {
  transform: rotate(-180deg);
}
.status {
  margin: auto 0;
}
.statusInfo {
  color: $light-gray-color;
}
.container {
  align-items: center;
  justify-content: center;
}
