@import 'src/variables.scss';

.icon {
  height: 36px;
  max-width: 36px;
}

.text {
  max-width: 260px;
  font-weight: 600 !important;
  color: $dark-gray-color !important;
  letter-spacing: 0.025rem !important;
  font-size: 16px !important;
}

.button {
  border-radius: 25px !important;
  font-weight: 700 !important;
  background-color: $mint-color !important;
  border-color: $mint-color !important;
  letter-spacing: 0.025rem !important;

  &:hover {
    background-color: $sage-color !important;
  }
}

.link {
  text-decoration: none;
  color: $mint-color;
  font-weight: 600;
}

.separator {
  border-right: 1px solid $barely-gray-color;
  border-left: 1px solid $barely-gray-color;

  @media (max-width: $small-weight) {
    border: none;
    border-top: 1px solid $barely-gray-color;
    border-bottom: 1px solid $barely-gray-color;
  }
}
