@import 'src/variables.scss';

.root {
  width: 198px;
  position: relative;
  border-radius: 20px;
  @media (min-width: 376px) {
    width: 198px;
    height: 100%;
  }
}

.linkFix {
  display: block;
  width: 100%;
}

.description {
  flex: 1 0 auto;
  border-radius: 0 0 8px 8px;
}

.image {
  height: 220px;
  img {
    border-radius: 20px;
  }
}

.title {
  max-height: 36px;
  overflow: hidden;
  color: $black-color;
  text-decoration: none;
  font-size: 12px !important;
  line-height: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0.025rem;
}

.settled {
  opacity: 0.15;
}

.deleteBtn {
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 21px;
}

.followBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: $white-color;
  border-radius: 50%;
}

.price {
  font-size: 20px !important;
  line-height: 30px;
  font-weight: 500 !important;
}

.statusLabel {
  top: 1rem;
  right: 1rem;
  position: absolute;
  border: 1px solid $dark-gray-color;
  color: $dark-gray-color;
  background-color: $white-color;
  padding: 4px 6px;
  border-radius: 20px;
  z-index: 2;
  font-weight: 500;
  font-size: 11px;
}

@media (max-width: $medium-weight) {
  .description {
    padding: 10px;
  }
}
