@import 'src/variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

.root {
  height: 100px;
  background-color: $barely-gray-color;
  margin-top: 56px;
  padding: 24px;
}

.button {
  min-width: 197px;
  height: 50px !important;
}

@include media-breakpoint-down(sm) {
  .root {
    margin-top: 26px;
  }

  .button {
    min-width: 162px;
  }
}
